* {
  margin: 0;
  padding: 0;
}

.property {
  padding: 3.2rem 0;
}

.image-container {
  position: relative;
}

.image-container img {
  width: 100%;
}

.image-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  font-size: 3rem;
  font-weight: bold;
}

button.image-text2 {
  all: unset;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  background-color: var(--secondry2);
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: 500;
}

button.image-text2:hover {
  background-color: var(--secondry);
  transition: 0.3s;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 2rem;
}

.search-box {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.search-box select {
  padding: 8px;
  border: none;
  outline: none;
}

.search-box button {
  background-color: var(--secondry);
  color: var(--light);
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.cardsss {
  padding: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card122 {
  width: 25%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card122:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card122 img {
  width: 100%;
  border-radius: 3px;
}

.title3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.location {
  font-size: 1rem;
  color: #666;
  margin: 1rem 0;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondry);
}

.views {
  padding: 1rem 0;
}

.view {
  border-radius: 5px;
  color: var(--darkest);
  background-color: var(--secondry2);
  padding: 0.5rem;
}

.view:hover {
  background-color: var(--secondry);
  color: var(--light);
  transition: 0.3s;
}

.heart {
  font-size: 1.7rem;
  margin-left: auto;
  cursor: pointer;
}
p.result{
  text-align: center;
  padding: 1rem 0;
}